@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 0 0% 7.1%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7.1%;

    --primary: 243 100% 70%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 20% 90%;
    --secondary-foreground: 0 0% 7.1%;

    --muted: 210 17% 98%;
    --muted-foreground: 215 9% 47%;

    --accent: 273 83% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 67% 45%;
    --success-foreground: 0 0% 100%;

    --border: 215 20% 90%;
    --input: 215 20% 90%;
    --ring: 243 100% 70%;

    --radius: 0.5rem;

    --sidebar-background: 243 100% 70%;
    --sidebar-foreground: 0 0% 100%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
